# Entorno Virtual
venv/
ENV/
env/
.env

# Archivos de caché de Python
**/__pycache__/
*.py[cod]
*$py.class

# Configuración de VS Code
.vscode/

# Bases de datos (opcional, si quieres que cada uno tenga la suya)
# base_datos.jsongit branch